<div>
  <h4 class="mb-4 text-muted">Dashboard </h4>

  <div class="row">
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas fa-dollar-sign" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Zysk</p>
              <h4 class="card-text text-right ">zł 199,099</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <small class="text-muted">Zmiana</small>
          <small class="text-success ml-auto">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            5,35%
          </small>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card border-0 rounded-0">
          <div class="card-body">
            <div class="card-innerBody d-flex align-items-center">
              <div class="card-icon text-light">
                <i class="fas fa-plus" aria-hidden="true"></i>
              </div>
              <div class="ml-auto">
                <p class="card-label text-right text-muted">Przychód</p>
                <h4 class="card-text text-right ">zł 702,258</h4>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex ">
            <small class="text-muted">Zmiana</small>
            <small class="text-danger ml-auto">
              <i class="fa fa-caret-down" aria-hidden="true"></i>
              2,81%
            </small>
          </div>
        </div>
      </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
                <i class="fas fa-minus" aria-hidden="true"></i>
              <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Koszty</p>
              <h4 class="card-text text-right ">zł 2,200</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <small class="text-muted">Zmiana</small>
          <small class="text-success ml-auto">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            8,66%
          </small>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas fa-piggy-bank" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Osczędności</p>
              <h4 class="card-text text-right ">zł +50K</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <small class="text-muted">Zmiana</small>
          <small class="text-success ml-auto">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            1,74%
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-6 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>Przychód/Koszt</h6>
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative;">
            <canvas id="chart-line" width="2" height="1"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-6 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>Oszczędności VAT/PIT</h6>
          <!-- <a class="btn ml-auto p-0 text-lightning"> <i class="fas fa-ellipsis-h"></i> </a> -->
        </div>
        <div class="card-body">
          <div class="chart-container" style="position: relative;">
            <canvas id="chart-bar" width="2" height="1"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col align-items-stretch">
      <div class="card h-100 border-0 rounded-0">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>Bilans</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive-md">
            <div class="table-responsive">
              <table class="table ">
                <thead>
                  <tr>
                    <th style="width:40%;">Tytuł</th>
                    <th class="number">Wartość</th>
                    <th style="width:20%;">Data</th>
                    <th style="width:20%;">Stan</th>
                    <th class="actions" style="width:5%;"></th>
                  </tr>
                </thead>
                <tbody class="no-border-x">
                  <tr>
                    <td>Sony Xperia M4</td>
                    <td class="number">$149</td>
                    <td>Aug 23, 2018</td>
                    <td class="text-success">Completed</td>
                    <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
                  </tr>
                  <tr>
                    <td>Apple iPhone 6</td>
                    <td class="number">$535</td>
                    <td>Aug 20, 2018</td>
                    <td class="text-success">Completed</td>
                    <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
                  </tr>
                  <tr>
                    <td>Samsung Galaxy S7</td>
                    <td class="number">$583</td>
                    <td>Aug 18, 2018</td>
                    <td class="text-warning">Pending</td>
                    <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
                  </tr>
                  <tr>
                    <td>HTC One M9</td>
                    <td class="number">$350</td>
                    <td>Aug 15, 2018</td>
                    <td class="text-warning">Pending</td>
                    <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
                  </tr>
                  <tr>
                    <td>Sony Xperia Z5</td>
                    <td class="number">$495</td>
                    <td>Aug 13, 2018</td>
                    <td class="text-danger">Cancelled</td>
                    <td class="actions"><a class="icon" href="#"><i class="mdi mdi-plus-circle-o"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
