<div class="container">

      <div class="card border-0 rounded-0 text-center">
        <div class="card-title mb-1 p-3">
          <h3>Freelancer App</h3>
          <h5>sparkdata.pl</h5>
        </div>
        <div class="card-body">
          <button type="button" (click)="login()" class="btn btn-primary btn-lg btn-block">Logowanie</button>
          <button type="button" (click)="register()" class="btn btn-secondary btn-lg btn-block">Rejestracja</button>
        </div>
      </div>


</div>
