<div class="container">
  <div class="logo-image">
    <img src="../../../../assets/img/sparkdata-logo.png">
  </div>
  <div class="start-page">
    <div class="start-form-container">
      <h3>Freelancer App</h3>
      <div class="start-form">
        <button type="button" (click)="login()" class="btn btn-login btn-primary btn-lg btn-block">Logowanie</button>
        <button type="button" (click)="register()"
          class="btn btn-register btn-secondary btn-lg btn-block">Rejestracja</button>
      </div>
    </div>
  </div>
</div>
