<div>
    <h4 class="mb-4 text-muted">Menager finansów</h4>
    <div class="row">
        <!-- <div class="card mb-3">
            <img src="../../../assets/img/plus_PNG106.webp" class="responsive" alt="...">
            </div> -->
      <div class="col-12 col-xl-6 mb-4">
        <div class="row">
            <div class="col-12 col-xl-6 mb-4">
                <img src="../../../assets/img/plus_PNG110.webp" class="img-fluid max-width: 100%" alt="...">
            </div>
            <div class="col-12 col-xl-6 mb-4">
                <img src="../../../assets/img/minus_PNG42.png" class="img-fluid max-width: 100%" alt="...">
              </div>
        </div>
      </div>
    </div>
</div>
