<div>
  <h4 class="mb-4 text-muted">Menager finansów</h4>
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          TIMELINE
          <!-- TODO dodać timeline https://codepen.io/mishamean/pen/PEoWrK -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- <div class="card mb-3">
            <img src="../../../assets/img/plus_PNG106.webp" class="responsive" alt="...">
            </div> -->
    <div class="col-12 col-xl-6 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas fa-plus" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Przychód</p>
              <h4 class="card-text text-right ">zł 702,258</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex">
          <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2 btn-sm">Dodaj</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-6 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas fa-minus" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Koszty</p>
              <h4 class="card-text text-right ">zł 2,200</h4>
            </div>
          </div>
        </div>
        <div class="card-footer d-flex ">
          <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2 btn-sm">Dodaj</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-4">

      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Zestawienie</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive-md">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Tytuł</th>
                    <th>Typ</th>
                    <th>VAT</th>
                    <th>Wartość brutto/netto</th>
                    <th>Data</th>
                    <th>Kontrahent</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Lunar probe project</td>
                    <td>Koszt</td>
                    <td>22%</td>
                    <td class="align-middle">
                     2440/2000 zł
                    </td>
                    <td>May 15, 2020</td>
                    <td>Kontrahent</td>
                    <td class="text-center">
                      <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2">
                        <i class="far fa-edit"></i>
                      </a>
                      <a class="btn btn-sm btn-outline-lightning rounded-0">
                        <i class="far fa-trash-alt"></i>
                      </a> </td>
                  </tr>
                  <tr>
                    <td>Lunar probe project</td>
                    <td>Koszt</td>
                    <td>22%</td>
                    <td class="align-middle">
                     2440/2000 zł
                    </td>
                    <td>May 15, 2020</td>
                    <td>Kontrahent</td>
                    <td class="text-center">
                      <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2">
                        <i class="far fa-edit"></i>
                      </a>
                      <a class="btn btn-sm btn-outline-lightning rounded-0">
                        <i class="far fa-trash-alt"></i>
                      </a> </td>
                  </tr>
                  <tr>
                    <td>Lunar probe project</td>
                    <td>Przychód</td>
                    <td>22%</td>
                    <td class="align-middle">
                     2440/2000 zł
                    </td>
                    <td>May 15, 2020</td>
                    <td>Kontrahent</td>
                    <td class="text-center">
                      <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2">
                        <i class="far fa-edit"></i>
                      </a>
                      <a class="btn btn-sm btn-outline-lightning rounded-0">
                        <i class="far fa-trash-alt"></i>
                      </a> </td>
                  </tr>
                  <tr>
                    <td>Lunar probe project</td>
                    <td>Koszt</td>
                    <td>22%</td>
                    <td class="align-middle">
                     2440/2000 zł
                    </td>
                    <td>May 15, 2020</td>
                    <td>Kontrahent</td>
                    <td class="text-center">
                      <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2">
                        <i class="far fa-edit"></i>
                      </a>
                      <a class="btn btn-sm btn-outline-lightning rounded-0">
                        <i class="far fa-trash-alt"></i>
                      </a> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
