$bg-color:#f2f3f8;
$sidebar-color:#3d4465;
$border-color: #f2f3f8;

.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (max-width: 767px) {
    .logo-image {
      transform: scale(0.50);
    }
  }

  @media (min-width: 768px) {
    .logo-image {
      transform: scale(0.75);
    }
  }

}

.card {
  margin-top: 3rem;
  min-height: 40vh;
  min-width: 40vh;
  box-shadow: 4px 4px 10px 0px rgba(204, 202, 204, 1);
  border-radius: 2%;
  border: 0px;

  .card-title {
    border-bottom: 1px solid $border-color;
  }

  .card-icon {
    i {
      color: #98a4c7;
    }
  }

  .card-footer {
    border-top: 1px solid $border-color;
    background: none;
  }

  .error-text {
    max-width: 40vh;
  }
}

