<div>
  <h4 class="mb-4 text-muted">Bilans </h4>
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          TIMELINE
          <!-- TODO dodać timeline https://codepen.io/mishamean/pen/PEoWrK -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas fa-dollar-sign" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Zysk</p>
              <h4 class="card-text text-right ">zł 199,099</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas fa-dollar-sign" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Koszty</p>
              <h4 class="card-text text-right ">zł 199,099</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas fa-dollar-sign" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">VAT</p>
              <h4 class="card-text text-right ">zł 199,099</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas fa-dollar-sign" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">PIT</p>
              <h4 class="card-text text-right ">zł 199,099</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">

    <div class="col-md-12">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Zestawienie</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive-md">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col" colspan="3">Pozycja</th>
                  <th scope="col">Data</th>
                  <th scope="col" colspan="2">Kwota</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="3">Przychody</td>
                  <td>May 2020</td>
                  <td colspan="2">1228 zł</td>
                </tr>
                <tr>
                  <td colspan="3">Koszty</td>
                  <td>May 2020</td>
                  <td colspan="2">2228 zł</td>
                </tr>
                <tr>
                  <td colspan="3">VAT zredukowany</td>
                  <td>May 2020</td>
                  <td colspan="2">1228 zł</td>
                </tr>
                <tr>
                  <td colspan="3">VAT należny</td>
                  <td>May 2020</td>
                  <td colspan="2">1228 zł</td>
                </tr>
                <tr>
                  <td colspan="3">Podatek dochodowy</td>
                  <td>May 2020</td>
                  <td colspan="2">1228 zł</td>
                </tr>
                <tr>
                    <td colspan="3">Podatek dochodowy zredukowany</td>
                    <td>May 2020</td>
                    <td colspan="2">1228 zł</td>
                  </tr>
                <tr>
                  <td colspan="3">ZUS</td>
                  <td>May 2020</td>
                  <td colspan="2">1228 zł</td>
                </tr>
                <tr class="table-success">
                  <td colspan="3">Zysk netto</td>
                  <td>May 2020</td>
                  <td colspan="2">1228 zł</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
