<div>
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="card border-0 rounded-0 text-center">
                <div class="card-title mb-1 p-3">
                  <h5>Logowanie</h5>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <label for="login">Login</label>
                      <input type="text" class="form-control rounded-0" id="login" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Hasło</label>
                        <input type="password" class="form-control  rounded-0" id="password" placeholder="Hasło">
                      </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2">Zaloguj</button>
                    <br>
                    <br>
                    <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i>Zaloguj przez Google</button>
                    <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i>Zaloguj przez Facebook</button>
                    </div>
                  </form>
                </div>
              </div>
        </div>
      </div>
</div>
